

.shop {
    display: grid;
    grid-template-columns: auto auto auto;
    
    p { 
        font-size: 20px;
    }
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items:baseline
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items:baseline
}

.item3 {
    display: flex;
    flex-direction: column;
    align-items:baseline
}

.cartoutput p {
    margin-bottom: 20px;
}